// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

.body--dark {
  --q-primary: #3c38ad;
  --q-secondary: #732b6c;
  --q-accent: #c7669d;
  --q-dark-page: #06060f;
}

.body--light {
  --q-primary: #5652c7;
  --q-secondary: #d48ccd;
  --q-accent: #99386f;
}
